// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #DDDDDD;
$light-gray: #F4F4F4;

$dark-purple: #424CEF;
$medium-purple: #6579FF;
$light-purple: #A6ABFF;
