<div class="full-screen">

  <div class="container">

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
      </ol>
      <div class="carousel-inner">

        <div class="carousel-item active">
            <h1 class="heading-text text-center" style="margin-top: 200px;">PLACE</h1>
            <h1 class="heading-text text-center">RATE</h1>
        </div>

        <div class="carousel-item">
          <div class="carousel-text">
            <h5 class="text-center">The tool.</h5>
            <p>A tool to assess your mixed-use project against all the elements that make up a vibrant community. Create a more vibrant community by considering the entire evolution of a community.</p>
          </div>
        </div>

        <div class="carousel-item">
          <div class="carousel-text">
            <h5 class="text-center">Research.</h5>
            <p>This application is based on a book which goes beyond the rhetoric, to provide practical solutions for delivering communities that are healthy and vibrant and hence more socially, environmentally and economically sustainable.</p>
          </div>
        </div>

        <div class="carousel-item">
          <div class="carousel-text">
            <h5 class="text-center">Your project.</h5>
            <p>Assess your mixed-use project against all the elements that make up a vibrant community. The elements are split into hard and soft.</p>
          </div>
        </div>

        <div class="carousel-item">
          <div class="carousel-text">
            <h5 class="text-center">The elements.</h5>
            <p>There are 9 hard elements and 9 soft elements to assess. Hard elements are the physical elements and soft elements are the experiential elements. </p>
          </div>
        </div>

        <div class="carousel-item">
          <div class="carousel-text">
            <h5 class="text-center">The process.</h5>
            <p>Select an element to assess. There will be a series of questions for each element.</p>
          </div>
        </div>

        <div class="carousel-item">
          <div class="carousel-text">
            <h5 class="text-center">Test & Assess.</h5>
            <p>A range of different question types will be used to assess each element. You may come back and edit if your answers change.</p>
          </div>
        </div>

        <div class="carousel-item">
          <div class="carousel-text">
            <h5 class="text-center">Results.</h5>
            <p>Your score will establish how vibrant the community you have designed is. Compare your score to leading projects, and discover what elements you can improve on.</p>
          </div>
        </div>

      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>


    <% if user_signed_in? %>
      <%= link_to home_path do %>
        <button type="button" class="btn btn-purple btn-lg btn-block btn-bottom" >GET STARTED</button>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path do %>
        <button type="button" class="btn btn-purple btn-lg btn-block btn-bottom">GET STARTED</button>
      <% end %>
    <% end %>

  </div>

</div>
